<div class="container">
  <div class="row">
    <div class="border rounded"></div>
      <% @users.each do |user|%>
        <div class="col-12 d-flex">
          <%= attachment_image_tag @user, :profile_image, size: "72x72", fallback: "no-user-image.png" %>
          <%= user.name %>
        </div>
      <% end %>
  </div>
</div>