<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
     <table class="table table-hover">
  　　　<thead>
    　<tr>
        <th scope="col">PF_id</th>
        <th scope="col">PF名</th>
   　  </tr>
      </thead>
  　　<tbody>
  　　  <% @portfolios.each do |portfolio| %>
        <tr>
          <th scope="row"><%= portfolio.id %></th>
          <td><%= link_to admin_portfolios_path(portfolio.id) do %><%= portfolio.title %><% end %></td>
          <td><%= link_to "削除する", admin_portfolio_path(portfolio.id),method: :delete, class: "btn btn-danger" %></td>
        </tr>
        <% end %>
      </tbody>
　　　</table>
    </div>
    <div class="col-2"></div>
  </div>
  </div>
</div>
