// Place all the styles related to the portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dropdown-menu-notifications {
  width: 400px;
}

.notification-user-image {
  width: 10%;

}
.notification-user-text {
  font-size: 14px;
  width: 80%;
  margin-left: 20px;
}

.notification-user-image1{
  margin-left: 30px;
}
.notification-user-text1 {
  padding-left: 23px;
}
