<div class = "container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
    <table class="table table-hover">
      <thead>
        <tr>
          <td scope="col">ユーザid</td>
          <td scope="col">ユーザ名</td>
          <td scope="col">mail</td>
          <td scope="col">自己紹介</td>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user|%>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.introduction %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    <div class="col-2"></div>
  </div>
</div>